.rmhub-table>thead>tr {
	background: #677484;
}

.rmhub-table>thead>tr>th, .rmhub-table>tbody>tr>td {
	vertical-align: middle !important;
	padding: 0px 20px !important;
}

.rmhub-table>thead>tr>th {
	color: #ffffff;
	height: 48px !important;
	font-weight: 500 !important;
	font-size: 16px !important;
	line-height: 19px !important;
	align-items: center;
}

.rmhub-table>thead>tr>th:first-child {
	white-space: nowrap;
	text-align: center;
}

.rmhub-table>tbody>tr>td {
	height: 42px !important;
	background: #FFFFFF;
	box-shadow: inset 0px -1px 0px rgba(129, 142, 158, 0.15);
	font-size: 14px;
}

.age-th {
	width: 50px;
}

.gender-th {
	width: 100px;
}

.type-th {
	width: 100px;
}

.id-td {
	width: 20px;
}

.productName-td {
	width: 13%;
}

.price-td {
	width: 10%;
}

.image-td {
	width: 100px;
}

.categoryName-td {
	width: 153px;
}

.quantity-td {
	width: 106px;
}

.icon-edit {
	width: 32px;
	height: 32px;
	background: url("../../../../assets/admin/layout/img/edit.png")
		no-repeat;
	display: block;
	vertical-align: middle;
}

.icon-edit:hover {
	background: url("../../../../assets/admin/layout/img/edit-hover.png")
		no-repeat;
}

.icon-delete {
	width: 32px;
	height: 32px;
	background: url("../../../../assets/admin/layout/img/Vector-2.png")
		no-repeat;
	vertical-align: middle;
	display: block;
}

.icon-delete:hover {
	background: url("../../../../assets/admin/layout/img/delete-hover.png")
		no-repeat;
}

.action-td {
	width: 50px;
	padding-left: 9px !important;
	padding-right: 9px !important;
}

.action-th {
	text-align: center;
}

.cell-value {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	align-items: center;
	color: rgba(0, 0, 0, 0.87);
	margin: auto;
}

.spa-padding {
	color: #ADB9C8;
}

.table-toolbar {
	margin-bottom: 0px;
	padding-bottom: 20px;
}

.rmhub-table .action-td {
	padding: 0px 0px 0px 9px !important;
}

.table-select {
	color: white;
	width: 100px;
	height: 46px;
	border-color: #2b3643;
	border-radius: 3px !important;
	padding-left: 2px;
	background: url(../../../../assets/admin/layout/img/arrow-select.png)
		no-repeat right #2b3643;
	-webkit-appearance: none;
	background-position-x: 90%;
}

}
.status-select {
	width: 160px;
	height: 30px;
	border-radius: 3px !important;
	padding-left: 13px;
	background: url("../../../../assets/admin/layout/img/arrow-select.png")
		no-repeat right white;
	-webkit-appearance: none;
	background-position-x: 95%;
}

.table-showing {
	padding-right: 10px;
	font-size: 14px;
	line-height: 16px;
}

.align-records {
	padding-top: 9px;
	font-size: 16px;
	line-height: 28px;
}

.table-recors {
	padding-left: 10px;
	font-size: 14px;
	line-height: 16px;
}

.table-search {
	display: block;
	padding-right: 10px;
}

.table-search-content {
	position: relative;
	float: left;
}

.table-search-input {
	width: 340px;
	height: 40px;
	border-radius: 3px !important;
}

.table-search-icon {
	position: absolute;
	right: 7px;
	top: 10px;
	color: #ccc;
	border: unset;
	background: #fff;
}

.combobox-showing {
	width: 50px;
	height: 40px;
}

.button-add {
	border-width: 0;
	padding: 0px 30px;
	font-size: 14px;
	height: 40px;
	line-height: 40px;
	border-radius: 3px !important;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	align-items: center;
	color: #FFFFFF;
	background-color: #38AB58;
	text-transform: uppercase;
/*	width: 110px; */
	text-decoration: none !important;
}


.content-pagination {
	margin-top: -15px;
}

.popupDelete .modal-dialog {
	-webkit-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transform: translate(0, -50%) !important;
	top: 50%;
	width: 335px;
	margin: 0 auto;
}

.popupDelete .modal-lg {
	-webkit-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transform: translate(0, -50%) !important;
	top: 50%;
	width: 600px;
	margin: 0 auto;
}

.name-float {
	float: left;
}

.message-delete {
	padding-left: 500px;
	color: red;
}

.color-pagination {
	background: #b5b5ca;
}

.title-listProduct {
	float: left;
}

.title-product {
	float: left;
}

.language-select {
	padding-right: 5px;
}
a.disabled {
  pointer-events: none;
}